body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

h1,
ul,
p {
  margin: 0px;
}

.header-bg {
  background: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  color: white;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: white;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
  transition-duration: 0.3s;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111111;
    padding: 12px 16px;
    border-radius: 6px;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/*introdução*/

.introducao-bg {
  background-color: #000000;
  color: white;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: flex-end;
  padding-bottom: 80px;
}

.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}

.introducao h1 span {
  color: #fb0;
}

.introducao p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
  color: #b2b2b2;
}

.introducao a {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-weight: bold;
}

.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}
