:root{
  --cor-0: #ffffff;
  --cor-1: #f7f7f7;
  --cor-5: #b2b2b2;
  --cor-10: #2e2e2e;
  --cor-11:#111111;
  --cor-12:#000000;
  --cor-p1: #ffbb00
}

.cor-0{
  color: var(--cor-0);
}

.cor-0{
  color: var(--cor-0);
}

.cor-5{
  color: var(--cor-5);
}

.cor-p1{
  color: var(--cor-p1)
}

